@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-light;
}

nav ul > li > a {
  @apply hover:text-slate-600;
}

.title {
  @apply text-5xl text-black text-center pt-6;
}

.page {
  @apply relative h-screen w-screen last:mb-10;
}

h2 {
  @apply text-black text-4xl text-center;
}

.home-page-phone {
  @apply mt-6 max-md:w-32;
}

.shadow {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.overscroll-inline-contain {
  overscroll-behavior-inline: contain;
}

.horizontal-scrollbar > div {
  @apply relative grid grid-flow-col auto-cols-[28%] gap-5 items-center overflow-x-scroll overscroll-inline-contain cursor-grab active:cursor-grabbing;
}

.btn {
  @apply cursor-pointer h-full bg-gray-300 hover:bg-gray-500;
}

.item-container {
  @apply flex flex-col justify-center items-center;
}

.img-section {
  @apply w-40;
}

#conector.img-section {
  @apply w-56;
}

#camera.img-section {
  @apply w-56;
}

.contato-links {
  @apply flex justify-center items-center gap-20 p-20 mt-10 mx-36 border border-x-0 border-y-2 border-slate-300 max-md:mx-10 max-md:flex-col;
}

.contato-links a {
  @apply flex gap-0.5 hover:bg-slate-200 hover:text-gray-600 p-2 max-md:text-sm;
}
